 .wrapper {	
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left:300px;
  float:left;
  width: 50%;
  
 }

 .FormStyle {
   max-width: 380px;
   padding: 15px 35px 45px;
   margin: 0 auto;          
   border: 1px solid rgba(0,0,0,0.1);
   align-content:center;
   background-color:#e7ceb6;
   box-sizing: border-box;
   float:none;
                 
}
 body {
    background-image: url('images/b.jpg');

}
.NavStyle
{
  background-color:#663300;
  position: relative;
  min-height: 100px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
#TextStyle{
    color:white;
    align-content:center;
    font-family:serif;
    font-size:xx-large;
    font-style:oblique;
    display:inline;
}
ul{  
  
    list-style-type: none;  
}  
li a {  
    color: #F1FAEE;  
font-size: 30px;  

}  
li {  
    display: inline;  
    padding-left: 2px;  
}  
a{  
 text-decoration: none;  
 margin-left:20px  
}  
   
.GridStyle {
    font-size:medium;
    padding:8px;
    align-content:center;
    text-align:center;
    width:100%;
     
}
.GridStyle th{
    background-color:#663300;
    color:#e7ceb6;
    text-align:center;
}
.GridStyle tr{
    background-color:#e7ceb6;
    Height:50px;
    Width:550px;
}
 .sucess{
   max-width: 500px;
   padding: 15px 35px 45px;
   margin: 0 auto; 
   align-content:center;
   box-sizing: border-box;
   float:right;
 }
 